* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Open Sans, sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #7264d6;
    --secondary-color: #696d76;
    --third-color: #212832;
}

/* ======================= Common ======================= */
.section-heading {
    color: var(--third-color);
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.25;
}

.section-desc {
    color: var(--secondary-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

.btn {
    --height: 52px;

    display: inline-block;
    min-width: 149px;
    height: var(--height);
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: var(--height);
    text-align: center;
    background: var(--third-color);
}

.btn:hover {
    opacity: 0.9;
}

.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}

/* ======================= Header ======================= */
.header {
    position: sticky;
    top: -34px;
    padding: 42px 0 8px;
    background: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__navbar {
    margin: 0 auto 0 47px;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__link {
    position: relative;
    padding: 8px 23px;
    color: var(--secondary-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.header__link:hover {
    color: #212832;
    text-shadow: 0 0 1px #212832;
}

.header__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: calc(100% - 46px);
    height: 1px;
    border-radius: 0.5px;
    background: var(--primary-color);
}

.header__link:hover::after {
    display: block;
}

.header__login {
    margin-right: 28px;
    color: var(--third-color);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
}

.header__signup {
    min-width: 113px;
}

/* ======================= Hero ======================= */
.hero {
    margin-top: 68px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    width: 46%;
}

.hero__title {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--secondary-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.hero__title::before {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background: var(--secondary-color);
}

.hero__heading {
    margin: 12px 0 20px;
    font-size: 6rem;
    line-height: 1.17;
}

.hero__heading-strong {
    color: var(--primary-color);
}

.hero__subscribe-form {
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    padding: 8px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0px 16px 42px 0px #00000012;
}

.hero__subscribe-form-input {
    flex-grow: 1;
    height: 100%;
    padding-left: 15px;
    border: none;
    outline: none;
    font-family: Open Sans, sans-serif;
    font-size: 1.6rem;
    line-height: 1.75;
}

.hero__subscribe-form-input::placeholder {
    color: var(--secondary-color);
}

.hero__subscribe-form-btn {
    --height: 58px;

    border: none;
    background: var(--primary-color);
}

.hero__form-commit {
    margin-top: 20px;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.71;
}

.hero__media {
    padding: 0 74px 0 100px;
}

.hero__img {
    width: 296px;
    height: 562px;
}
