* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Open Sans, sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #7264d6;
    --secondary-color: #696d76;
    --third-color: #212832;
}

/* ======================= Common ======================= */
.btn {
    --height: 52px;

    display: inline-block;
    min-width: 149px;
    height: var(--height);
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: var(--height);
    text-align: center;
    background: var(--third-color);
}

.btn:hover {
    opacity: 0.9;
}

.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}

/* ======================= Header ======================= */
.header {
    position: sticky;
    top: -34px;
    padding: 42px 0 8px;
    background: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__navbar {
    margin: 0 auto 0 47px;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__link {
    position: relative;
    padding: 8px 23px;
    color: var(--secondary-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.header__link:hover {
    color: #212832;
    text-shadow: 0 0 1px #212832;
}

.header__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: calc(100% - 46px);
    height: 1px;
    border-radius: 0.5px;
    background: var(--primary-color);
}

.header__link:hover::after {
    display: block;
}

.header__login {
    margin-right: 28px;
    color: var(--third-color);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
}

.header__signup {
    min-width: 113px;
}
