* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Open Sans, sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #7264d6;
    --secondary-color: #696d76;
    --third-color: #212832;
}

/* ======================= Common ======================= */

main > * {
    margin-top: 160px;
}

.section-title {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--secondary-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.section-title::before {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background: var(--secondary-color);
}

.section-heading {
    color: var(--third-color);
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.25;
}

.section-desc {
    color: var(--secondary-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

.btn {
    --height: 52px;

    display: inline-block;
    min-width: 149px;
    height: var(--height);
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: var(--height);
    text-align: center;
    background: var(--third-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}

/* ======================= Header ======================= */
.header {
    position: sticky;
    top: -34px;
    z-index: 5;
    padding: 42px 0 8px;
    background: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__navbar {
    margin: 0 auto 0 47px;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__link {
    position: relative;
    padding: 8px 23px;
    color: var(--secondary-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.header__link:hover {
    color: #212832;
    text-shadow: 0 0 1px #212832;
}

.header__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: calc(100% - 46px);
    height: 1px;
    border-radius: 0.5px;
    background: var(--primary-color);
}

.header__link:hover::after {
    display: block;
}

.header__login {
    margin-right: 28px;
    color: var(--third-color);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
}

.header__signup {
    min-width: 113px;
}

/* ======================= Hero ======================= */
.hero {
    margin-top: 68px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
}

.hero__content {
    width: 46%;
}

.hero__heading {
    margin: 12px 0 20px;
    font-size: 6rem;
    line-height: 1.17;
}

.hero__heading-strong {
    color: var(--primary-color);
}

.hero__subscribe-form {
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    padding: 8px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0px 16px 42px 0px #00000012;
}

.hero__subscribe-form-input {
    flex-grow: 1;
    height: 100%;
    padding-left: 15px;
    border: none;
    outline: none;
    font-family: Open Sans, sans-serif;
    font-size: 1.6rem;
    line-height: 1.75;
}

.hero__subscribe-form-input::placeholder {
    color: var(--secondary-color);
}

.hero__subscribe-form-btn {
    --height: 58px;

    border: none;
    background: var(--primary-color);
}

.hero__form-commit {
    margin-top: 20px;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.71;
}

.hero__media {
    position: relative;
    padding: 0 174px 0 100px;
}

.hero__img {
    width: 296px;
    height: 562px;
    vertical-align: bottom;
}

.hero__media-deposite {
    position: absolute;
    left: 0;
    top: 113px;
    display: inline-flex;
    align-items: center;
    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px #00000012;
}

.hero__media-deposite-text {
    display: flex;
    column-gap: 8px;
    align-items: center;
    color: #31456a;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
}

.hero__media-deposite-text::before {
    content: url(../img/hero/down-arrow.svg);
}

.hero__media-deposite-price {
    margin-left: 18px;
    color: #4ab5e3;
    font-size: 1.4rem;
}

.hero__media-interest {
    position: absolute;
    right: 0;
    top: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.hero__media-interest-percent {
    color: #fff;
    font-weight: 600;
    font-size: 4.4rem;
}

.hero__media-interest-text {
    color: #fff;
    font-size: 1.6rem;
}

.hero__media-secured {
    position: absolute;
    right: 100px;
    bottom: 61px;
    display: inline-flex;
    align-items: center;
    column-gap: 11px;
    padding: 21px 15px;
    border-radius: 10px;
    background: #439f90;
}

.hero__media-secured-group {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.hero__media-secured-price {
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
}

.hero__media-secured-text {
    color: #fff;
    font-size: 8px;
}

/* ======================= Works ======================= */
.works__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works__media {
    position: relative;
    width: 570px;
    padding-left: 7px;
    padding-right: 107px;
}

.works__media-bg {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 470px;
    height: 550px;
}

.works__img {
    position: relative;
    z-index: 1;
    width: 100%;
    vertical-align: bottom;
}

.works__decor-up {
    position: absolute;
    right: 162px;
    top: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
}

.works__decor-up::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #fff;
}

.works__decor-up-icon {
    position: relative;
    z-index: 1;
}

.works__decor-down {
    position: absolute;
    right: 0;
    bottom: 96px;
    z-index: 1;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px 30px 15px 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px #00000012;
}

.works__decor-down-icon-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4ab5e3;
}

.works__decor-down-icon-wrap::before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.works__decor-down-icon {
    position: relative;
    z-index: 1;
}

.works__decor-down-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.works__decor-down-title {
    color: #212832;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.works__decor-down-desc {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.2rem;
}

.works__content {
    width: 470px;
}

.works__heading {
    margin-top: 12px;
}

.works__list {
    margin-top: 70px;
}

.works__item {
    color: var(--third-color);
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.45;
}

.works__item + .works__item {
    margin-top: 30px;
}

.works__item-desc {
    margin-top: 16px;
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
}

/* ======================= Card ======================= */
.transaction__inner,
.card__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction__content,
.card__content {
    width: 40%;
}

.transaction__heading,
.card__heading {
    margin-top: 12px;
}

.transaction__desc,
.card__desc {
    margin-top: 20px;
}

.transaction__list,
.card__list {
    margin-top: 28px;
}

.transaction__item,
.card__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--third-color);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

.transaction__heading + .transaction__heading,
.card__item + .card__item {
    margin-top: 18px;
}

.transaction__item::before,
.card__item::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--primary-color);
}

.transaction__btn,
.card__btn {
    --height: 58px;

    margin-top: 38px;
}

.card__media {
    position: relative;
    width: 49%;
    padding: 48px 88px 55px 0;
}

.card__img {
    width: 100%;
    object-fit: cover;
}

.card__decor-up {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 13px;
    border-radius: 12px;
    font-family: Inter, sans-serif;
    background: #fff;
    box-shadow: 0px 14px 38px 0px #00000012;
}

.card__decor-up-left {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.card__decor-up-left-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgb(218 100 100 / 10%);
}

.card__decor-up-left-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.card__decor-up-left-money {
    color: var(--third-color);
    font-weight: 500;
    font-size: 1.2rem;
}

.card__decor-up-left-payment {
    color: var(--secondary-color);
    font-size: 1rem;
}

.card__decor-up-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: 67px;
}

.card__decor-up-left-price {
    color: var(--third-color);
    font-size: 1.6rem;
}

.card__decor-up-left-time {
    margin-top: 3px;
    color: var(--secondary-color);
    font-size: 1rem;
}

.card__decor-down {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 120px;
    padding: 15px;
    border-radius: 16px;
    background: #439f90;
}

.card__decor-down-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #fff;
}

.card__decor-down-text {
    display: block;
    margin: 14px 0 6px;
    color: #fff;
    font-size: 1.2rem;
}

.card__decor-down-price {
    color: #fff;
    font-weight: 600;
    font-size: 1.8rem;
}

/* ======================= Transaction ======================= */
.transaction__media {
    position: relative;
    width: 49%;
    padding-right: 100px;
}

.transaction__thumb {
    width: 100%;
    padding: 0 29px;
}

.transaction__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 470px;
}

.transaction__img {
    position: relative;
    z-index: 1;
    width: 100%;
    vertical-align: bottom;
}

.transaction_payment-method {
    position: absolute;
    padding: 28px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 44px 48px 0px #0000001a;
    text-align: center;
}

.transaction__choose {
    color: var(--third-color);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

.transaction__method-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 20px;
}

.transaction__method {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #F2F2FA;
}

.transaction__method:last-child {
    background: #F9EA63;
}